{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "singleAttributePerLine": false,
  "printWidth": 100,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "insertPragma": false,
  "requirePragma": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "parser": ""
}
